# эт для установки всех нужных штук!!
# просто напиши в консоли:
# npm install

# вот что прям обязательно надо:
# express - это типо сервер для сайта
# multer - для загрузки файлов который мой друган скачал с инета
# ffmpeg-static - для видео монтажа, самый топчик для шортсов
# fluent-ffmpeg - тоже для видосиков

# всё это прописано в package.json так что просто npm install и готово!!!
# у меня дома на компе всё работает так что у тебя тоже будет работать!!!

# а если чё-то не встало, то прост npm install имя-пакета

# удачи, не забудь поставить лайк и подписаться!!!!1! 